# dependencies
/client/node_modules
/server/node_modules

# production
/client/public/app/bundle.js*
/server/server.js*
/server/uploads

# sensitive
**/creds.json*

# misc
**/package-lock*
**/npm-debug.log*
.idea*
.vscode*
