$turquoise: #9ce2da;
$dark-turquoise: #68a29c;
$light-grey: #3f3f3f;
$dark-grey: #292929;
$text-color: #d9d9d9;

body {
  font-family: Open Sans Condensed;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  text-size-adjust: 100%;
  background-color: $light-grey;
}

.header {
  display: inline-block;
  background-color: $turquoise;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.3s;
  &:hover {
    background-color: $dark-turquoise;
  }
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    color: $turquoise;
}

h2,
h3 {
  color: $turquoise;
  text-transform: uppercase;
  line-height: 0.9em;
  letter-spacing: -1px;
}
h2 {
  font-size: 4.5em;
}
h3 {
  font-size: 2em;
  margin: 0;
  padding-left: 30px;
}

p {
  margin: 10px 0;
  text-align: center;
  font-size: 1rem;
}

em {
  font-style: inherit;
  color: $turquoise;
}

.align-c {
  text-align: center;
}

.centered {
  text-align: center;
}

#form {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 0.8em;
  line-height: initial;
  margin-top: 10px;
  a {
    display: block;
    color: $turquoise;
  }
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.__react_component_tooltip {
  opacity: 1 !important;
} 

.remove {
  float: right;
  cursor: pointer;
}

form {
  text-align: center;
  display: inline-block;
  max-width: 800px;
  .box {
    text-align: left;
    background-color: $dark-grey;
    padding: 30px 0 20px;
    border-radius: 5px;
    color: $text-color;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      text-align: left;
      font-size: 1.5em;
      padding: 20px 30px;
      .larger-text {
        font-size: 1.3em;
      }
      .rowItem {
        flex: 1;
        display: grid;
        min-width: 244px;
      }
    }
    .fileList {
      padding: 20px 30px;
      margin: 0 30px;
      box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      font-size: 1.3em;
      box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      white-space: nowrap;
      overflow: hidden;
    }
  }
  label {
    margin: 10px 0;
  }
  span {
    font-weight: 400;
  }
  input:not([type="file"]),
  select {
    display: block;
    box-sizing: border-box;
    height: 45px;
    font-size: 0.8em;
    margin: 8px 0;
    padding: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    background-color: $dark-grey;
    color: $text-color;
    border-bottom: 2px solid $turquoise;
    transition: all 0.1s;
  }
  input:not([type="file"]) {
    width: 90%;
  }
  select {
    width: 26%;
    > option {
      background: $dark-grey;
      outline: 1px solid $turquoise;
    }
  }
}

button {
    background-color: $light-grey;
    color: $text-color;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 6px 10px;
    transition: all 0.3s;
    &:hover {
      color: $turquoise
    }
    &.disabled {
      &:hover {
        color: $text-color;
      }
    }
}

.disabled {
  cursor: not-allowed;
}

#uploadFilesBtn {
    font-size: 1.5em;
    margin: 20px 0 5px;
    width: 90%;
}

.paypal-button {
  margin-top: 9px;
}